<% layout('layouts/boilerPlate') %>
<body>
<body>
  <h3>Edit Home</h3>
  <form action="/listing/<%= listing._id %>?_method=PUT"  method="post">
    <br><br>
    <input type="text" value="<%=listing.title%>" name="title"><br><br>
    <textarea name="description"><%=listing.description%></textarea><br><br>
    <input type="text" value="<%=listing.image%>" name="image"><br><br>
    <input type="number" value="<%=listing.price%>" name="price"><br><br>
    <input type="text" name="location" value="<%=listing.location%>"><br><br>
    <input type="text" name="country" value="<%=listing.country%>"><br><br>
    <button type="submit">Update</button>
  </form>
</body>
